body {
  /* when we use css grid then for center the item we use justify content center */
  display: grid;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background: cyan;
	
}
.row{
  margin: 7px 0;
}
.row input{
  width: 294px;
  font-size: 40px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 6px;
}


.button{
  width: 66px;
  padding: 20px;
  margin: 0 5px;
  border: 2px solid rgb(38, 10, 44);
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
}
.button:hover{
  background-color: greenyellow;
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
.num{
  text-align: center;
}
h1{
  color:blue; 
  
}